@charset "UTF-8";
/* 回答はここから */
.inline--box{
  display: inline-block;
  width: 200px;
  padding: 20px 0;
  background-color: #fff;
  font-size: 16px;
}
.align--box{
  text-align: center;
}
.align--text{
  display: inline-block;
  padding: 10px;
  background-color: #a4b3e9;
}
.margin--text{
  width: 90px;
  background-color: #a4b3e9;
  text-align: center;
  padding: 10px;
  margin: 0 auto;
}
.d--table{
  display: table;
}
.d--cell{
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.table--text{
  font-size: 16px;
  background-color: #fff;
  padding: 10px;
  display: inline-block;
}
.d--flex{
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex--text{
  font-size: 16px;
  background-color: #fff;
  padding: 10px;
}
.p--relative{
  position: relative;
}
.p--absolute{
  position: absolute;
  font-size: 16px;
  padding: 10px;
  background-color: #a4b3e9;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}